<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="uk.ac.ic.doc.t4t"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="8" />
    <uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.NoTitleBar">
        <uses-library android:name="com.google.android.maps" />
        
        <activity
            android:name="SplashScreenActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="EventListActivity"
            android:screenOrientation="portrait"/>
      
        <activity
            android:name="EventDetailsActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".ReportQuickEventActivity"
            android:screenOrientation="portrait">
            <intent-filter>
		        <action android:name="android.intent.action.VIEW" />
		        <category android:name="android.intent.category.DEFAULT" />
		        <category android:name="android.intent.category.BROWSABLE" />
		        <data android:scheme="right-turn"/>
	    	</intent-filter>
            </activity>
        
        <activity android:name="EventMapActivity"
            android:screenOrientation="portrait"/>
        
        <activity android:name="AboutApplicationActivity"
            android:screenOrientation="portrait"/>
        
        <activity android:name="PreferenceActivity"
            android:screenOrientation="portrait"/>
        
        <service android:name="UpdaterService"/>
    </application>

</manifest>