#Credentials File
t4t_credentials.txt

*~

#Android application files + dex vm
*.apk
*.ap_
*.dex
*.class
*.log

#Local configuration (sdk path etc)
local.properties

#Latex intermediate files
!report/report1/images/draft_architecture.pdf
*.pdf
*.aux
*.bbl
*.out
*.blg

#python 
*.mo
*.egg-info
*.egg
*.EGG
*.EGG-INFO
bin
build
develop-eggs
downloads
eggs
fake-eggs
parts
dist
.installed.cfg
*.pyc
*.pyo
*.tmp*

#Project data
#data for the project should be kept external to the source repo
*.xml
*.sqlite
*.db
